#---------------------------------#
#      general configuration      #
#---------------------------------#

environment:
  nuget_api_key:
    secure: TVIcwkODm7E1JF7lXaPf18Z2maWnZszB74gYvXwBVXrql2O6HRUsxPzaLPNFe2ua

# version format
version: 0.1.{build}

# Build worker image (VM template)
image: Visual Studio 2017

# clone directory
clone_folder: c:\projects\VL.Devices.Astra

branches:
  only:
    - master
    
only_commits:
  message: /build/

install:
  - nuget sources add -Name vvvv -Source http://teamcity.vvvv.org/guestAuth/app/nuget/feed/_Root/default/v3/index.json
  - appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
  - nuget pack appveyor\VL.Devices.Astra.nuspec -Version %APPVEYOR_BUILD_VERSION%-alpha
  - nuget setApiKey %nuget_api_key%
  - nuget push C:\projects\VL.Devices.Astra\VL.Devices.Astra.%APPVEYOR_BUILD_VERSION%-alpha.nupkg -Source https://api.nuget.org/v3/index.json
    
artifacts:
  - path: '*.nupkg'
    type: NuGetPackage
  
#---------------------------------#
#         notifications           #
#---------------------------------#

test: off

notifications:

  # Email
  - provider: Email
    to:
      - devvvvs@vvvv.org
    subject: 'VL.Devices.Astra Build {{status}}'                  # optional
    message: "{{message}}, {{commitId}}, ..."    # optional
    on_build_status_changed: true